.PageNotFound{
    display: flex;
    flex-direction: column;
}
.PageNotFound a{
    position: relative;
    top: -50px; 
    left:auto;
    font-family: "Quicksand";
    cursor: pointer;
    padding: 10px;
    background-color: var(--main-color);
    color: #0C0C0C;
    font-weight: 800;
    border-radius: 4px;
    width: 150px;
    margin: 8px;
    text-decoration: none;
    align-self: center;
}