.Home{
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    min-width: 800px;

}
.title{
    color: var(--primary-text-color);
}
.loader{
    color: var(--main-color);
}
.blog-preview {
    cursor: pointer;
    padding: 10px 16px;
    margin: 20px 0;
    border-radius: 9px;
    background-color: #1D1D1D;
}
.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(211, 211, 211, 0.356);
}
.blog-preview h2 {
    font-size: 20px;
    color:var(--main-color);
    margin-bottom: 8px;
}
.blog-preview p {
    color:var(--primary-text-color);
}