.Navbar{
    font-family: 'Quicksand', sans-serif;
    min-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    border-bottom: solid rgb(145, 145, 145) 1px; 

}
.Navbar h1{
    font-weight: 400;
    color: var(--main-color);
    font-size: 3rem;
    margin: 5px;
}
.links > a{
    text-decoration: none;
    margin-left: 15px;
    padding: 10px;
    color:var(--main-color);
    font-weight: 800;
    
}
.links > a:hover {
    background-color: var(--main-color);
    color: #0C0C0C;
    border-radius: 4px;
}