.Create{
    min-width: 500px;
}
.Create h2{
    align-self: center;
    display: flex;
    justify-content: center;
    color: var(--main-color);
}
.Create label{
    margin: 7px;
    font-weight: 400;

}
.Create input,textarea,select{
    background-color: #1D1D1D;
    outline: none;
    border: none;
    color: var(--primary-color);
    font-family: "Quicksand";
    padding: 8px 5px;
    border-radius: 5px;
}
.Create button{
    cursor: pointer;
    padding: 10px;
    background-color: var(--main-color);
    color: #0C0C0C;
    font-weight: 800;
    border-radius: 4px;
    width: 100px;
    margin: 8px;
    align-self: center;
}
.Create form{
    display: flex !important;
    flex-direction: column !important;
}